.app {
    max-width: 70%;
    max-height: 80%;
    margin: 2% auto;
}

.app h1 {
    color: darkblue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.todoList {
    background-color: darkgrey;
}

.width {
    width: 100%;
}

input[type=checkbox]:checked+span {
    text-decoration: line-through;
}